** Este equipo pertenece al laboratorio del curso 
** {{ curso }}.

** Si usted está siguiendo atentamente al instructor {{ instructor }}
** Entonces ponga en práctica lo aprendido.

** {{ ansible_hostname }}
** {{ ansible_default_ipv4.address}}
***
***
{% if working_env in ['desarrollo'] %}
TRABAJE CON CUIDADO
{% elif working_env in ['produccion'] %}
CAMBIOS REALIZADOS EN ESTE SERVIDOR SERAN ANALIZADOS
{% else %}
HAGA USTED LO QUE QUIERA
{% endif %}
