Hola, este es el servidor {{ ansible_hostname }}
del laboratorio de pruebas del curso de {{ instructor }}

Este servidor pertenece al grupo {% if 'archivo' in group_names %} ARCHIVO
{% elif 'directorio' in group_names %} DIRECTORIO
{% else %}
Trabajo diario

{% endif %}
